<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="info" />
        <button @click="addItem">添加</button>
        <todo-list :content="list"></todo-list>
        <ul>
            <list v-for="(item, index) in list">
                <template v-slot:item="itemProps">
                    <span
                        :style="{
                            fontSize: '20px',
                            color: itemProps.checked ? 'red' : 'blue'
                        }"
                    >{{ item }}</span
                    >
                </template>
            </list>
        </ul>
    </div>
    <script>
    Vue.component('todo-list', {
        props: {
            content: Array
        },
        template: `<ul class="item">
                        <li v-for="(item, index) in this.content" :key="index">{{item}}</li>
                   </ul>`
    })

    Vue.component('list', {
        template: `<li class="item">
                        <input type="checkbox" @click="clickCheckbox" />
                        <slot name="item" :checked="checked"></slot>
                   </li>`,
        data: function() {
            return {
                checked: false
            }
        },
        methods: {
            clickCheckbox: function () {
                this.checked = !this.checked
            }
        }
    })

    var app = new Vue({
        el: '#app',
        data: {
            info: "",
            list: []
        },
        methods: {
            addItem: function() {
                this.list.push(this.info);
                this.info = "";
            }
        },
    })
    </script>
</body>
</html>